# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data files
*.csv
*.json
*.parquet
*.avro
*.db
data/

# Credentials
.env
*.pem
service-account-*.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
